@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');

/* =========Variables======== */
:root {
  font-size: 18px;
  --mobile-breakpoint: 376px;
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --primary-font: "Epilogue", serif;
  --medium-font-weight: 500;
  --bold-font-weight: 700;
}

/* =========Typography======== */
body {
  font-family: var(--primary-font);
  font-size: clamp(10px, 1.5vw, 1rem);
}

p {
  font-weight: var(--medium-font-weight);
  color: var(--medium-gray);
}

/* =========Components======== */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-weight: var(--medium-font-weight);
  text-decoration: none;
  color: var(--medium-gray);
  width: max-content;
  padding: 1em;
  border-radius: 12px;
}

a:hover,
a:focus,
a:active {
  color: var(--almost-black);
}

.white-btn-link {
  border: 1px solid var(--medium-gray);
}

.white-btn-link:hover,
.white-btn-link:focus,
.white-btn-link:active {
  border: 1px solid var(--almost-black);
}

.black-btn-link {
  background-color: var(--almost-black);
  color: var(--almost-white);
  border: 1px solid var(--almost-black);
}

.black-btn-link:hover,
.black-btn-link:focus,
.black-btn-link:active {
  background-color: var(--almost-white);
  color: var(--almost-black);
}


img[alt*="logo"] {
  width: 80px;
}

.snap-logo {
  transform: translateY(3px);
  margin-right: 3em;
}

img {
  max-width: 100%;
}

/* =========Layout======== */
.page-grid-container {
  display: grid;
  grid-auto-rows: auto;
}

.main-grid-container {
  padding: 0 clamp(6em, 10.5vw, 10em);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 40%;
  grid-auto-rows: auto;
  grid-template-areas: 
        "header hero"
        "description hero"
        "learn-more hero"
        "footer hero";
}

.main-grid-container > img{
  grid-area: hero;
}

.main-grid-container > h1{
  margin: 0;
  font-size: clamp(2rem, 6.5vw, 5rem);
  grid-area: header;
}

.main-grid-container > p{
  margin: 0;
  grid-area: description;
  max-width: 45ch;
  line-height: 2;
}

.main-grid-container > a{
  grid-area: learn-more;
}

.main-grid-container > footer{
  grid-area: footer;
  padding-right: 2em;
}

/* =========Helper Classes======== */
.padding-2em-3em {
  padding: 2em 3em;
}

.justify-space-between {
  justify-content: space-between;
}

.align-self-end {
  align-self: end;
}

.gap-1em {
  gap: 1em;
}

.gap-2em {
  gap: 2em;
}

.gap-3em {
  gap: 3em;
}

.flex-row-container {
  display: flex;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
